.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--theme-button-foreground);
  color: var(--theme-text);
  height: calc(var(--font-size) * var(--theme-line-height-base) * 1.4);
}

.logo {
  flex-shrink: 0;
  padding: 0 1ch;
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: var(--theme-text);
  background: var(--theme-button);
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  border: 0;
  outline: 0;
}

.logo span {
  color: var(--theme-button-text);
}

.logo:hover span,
.logo:focus span {
  color: var(--theme-text);
  background: var(--theme-focused-foreground);
}

.right {
  display: inline-flex;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  padding-right: 1ch;
}

.right a,
.right button {
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--theme-text);
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  padding: 0 1ch;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.right a:hover,
.right button:hover {
  background: var(--theme-focused-foreground);
}
